body{

    background: #c7d7ea url("./background.jpg") no-repeat ;
}
 
h1, h2, p {
    color: rgb(12, 3, 44);
    background-color: rgb(165, 204, 37);
  }

  .heading1 {
    color: rgb(186, 46, 154);
    margin: 30px;
    padding: 10px;
    border: 3px solid white;
    text-align: center;
    font-size: 30px;
  }

  .heading2{
    color: #02162d;
  }

  a:link{
    max-width: 100px;
    color: white;
    background-color: #02162d;
    text-align: center;
    border: 2px solid white;
    padding: 10px 20px;
    margin: 30px;
    text-decoration: none;
    display: block;
  }

  a:hover, a:active{
    color: black;
    background-color: white;
  }



